<div class="card" id="Top" >
    <div class="card-header bg-dark text-light">Level 3</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level3.cshtml.</p>
        <ol>
            <li><a href="#1">...all teams, past and present, that Samuel Evans has played with<./a></li>
            <li><a href="#2">...all players, past and present, with the Manitoba Tiger-Cats.</a></li>
            <li><a href="#3">...all players who were formerly (but aren't currently) with the Wichita Vikings.</a></li>
            <li><a href="#4">...every team that Jacob Gray played for before he joined the Oregon Colts.</a></li>
            <li><a href="#5">...everyone named "Joshua" who has ever played in the Atlantic Federation of Amateur Baseball Players.</a></li>
            <li><a href="#6">...all teams that have had 12 or more players, past and present.</a></li>
            <li><a href="#7">...all players, sorted by the number of teams they've played for.</a></li>
        </ol>
    </div>
</div>

<h4>To make navigation easier links have been added to top of page as well as to each task</h4>  

<div class="col-sm-6" id="1">
    <div class="card">
        <div class="card-body">
            <a href="#Top"><h3>All Teams, Past and Present, that Samuel Evans has played with</h3></a>
            <table class="table table-striped">
                <tr>
                    <th>Team</th>
                    <th>Location</th>
                </tr>
                @foreach(var l in ViewBag.Samuel.AllTeams)
                {
                    <tr>
                        <td>@l.TeamOfPlayer.TeamName</td>
                        <td>@l.TeamOfPlayer.Location</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="col-sm-6" id="2">
    <div class="card">
        <div class="card-body">
            <a href="#Top"><h3>All Players, past and present, with the Manitoba Tiger-Cats</h3></a>
            <table class="table table-striped">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Team</th>
                </tr>
                @foreach(var l in ViewBag.Tiger.AllPlayers)
                {
                    <tr>
                        <td>@l.PlayerOnTeam.FirstName</td>
                        <td>@l.PlayerOnTeam.LastName</td>
                        <td>@l.PlayerOnTeam.CurrentTeam.TeamName</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="col-sm-6" id="3">
    <div class="card">
        <div class="card-body">
            <a href="#Top"><h3>All Players who were formerly (but aren't currently) with the Wichita Vikings</h3></a>
            <table class="table table-striped">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Current Team</th>
                </tr>
                @foreach(var l in ViewBag.Vikings.AllPlayers)
                {
                    <tr>
                        <td>@l.PlayerOnTeam.FirstName</td>
                        <td>@l.PlayerOnTeam.LastName</td>
                        <td>@l.PlayerOnTeam.CurrentTeam.TeamName</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="col-sm-6" id="4">
    <div class="card">
        <div class="card-body">
            <a href="#Top"><h3>Every Team that Jacob Gray played for before he joined the Oregon Colts</h3></a>
            <table class="table table-striped">
                <tr>
                    <th>Team</th>
                    <th>Location</th>
                </tr>
                @foreach(var l in ViewBag.Jacob.AllTeams)
                {
                    <tr>
                        <td>@l.TeamOfPlayer.TeamName</td>
                        <td>@l.TeamOfPlayer.Location</td>
                    </tr>
                }
            </table>
        </div>
    </div>

<div class="col-bg-6" id="5">
    <div class="card">
        <div class="card-body">
            <a href="#Top"><h3>Everyone Named "Joshua" who has ever played in the Atlantic Federation of Amateur Baseball Players</h3></a>
            <table class="table table-striped">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                @foreach(var l in ViewBag.Joshua)
                {
                    <tr>
                        <td>@l.FirstName</td>
                        <td>@l.LastName</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="col-bg-6" id="6">
    <div class="card">
        <div class="card-body">
            <a href="#Top"><h3>All Teams that have had 12 or more players, past and present</h3></a>
            <table class="table table-striped">
                <tr>
                    <th>Team</th>
                    <th>Location</th>
                </tr>
                @foreach(var l in ViewBag.Teams)
                {
                    <tr>
                        <td>@l.TeamName</td>
                        <td>@l.Location</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="col-bg-6" id="7">
    <div class="card">
        <div class="card-body">
            <a href="#Top"><h3>All Players, sorted by the number of teams they've played for</h3></a>
            <table class="table table-striped">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th># Teams</th>
                </tr>
                @foreach(var l in ViewBag.Players)
                {
                    <tr>
                        <td>@l.FirstName</td>
                        <td>@l.LastName</td>
                        <td>@l.AllTeams.Count</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>