@model Dish
@{
    ViewData["Title"] = "A Web Page";
}

<div class="text-center">
    <h1 class="display-4">Edit a Dish!</h1>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Home</a>
    <a asp-action="Dishes" asp-controller="Home">Dishes</a>
</div>
<div>
    <form asp-action="UpdatedDish" asp-controller="Home" method="post">
        <div>
            <div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <label asp-for="Name"></label>
            <input asp-for="Name" value=@Model.Name>
        </div>
        <div>
            <label asp-for="ChefId"></label>
            <select asp-for="ChefId"  class="form-select" aria-label="Default select example">
                <option style="display:none" label=" ">@ViewBag.Chef.FirstName @ViewBag.Chef.LastName</option>
                @{
                    foreach (Chef cook in ViewBag.Chefs)
                    {
                        <option value="@cook.ChefId">@cook.FirstName @cook.LastName</option>
                    }
                }
            </select>
        </div>
        <div>
            <div>
                <span asp-validation-for="Tastiness" class="text-danger"></span>
            </div>
            <label asp-for="Tastiness"></label>
            <select asp-for="Tastiness"  class="form-select" aria-label="Default select example" >
                <option style="display:none" value=@Model.Tastiness>@Model.Tastiness</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div>
            <div>
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <label asp-for="Calories"></label>
            <input asp-for="Calories" type="number" value=@Model.Calories>
        </div>
        <div>
            <div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <label asp-for="Description"></label>
            <textarea asp-for="Description">@Model.Description</textarea>
        </div>
        <button type="submit">Edit</button>
    </form>
</div>